@font-face {
    font-family: 'futurabook';
    src: url('futura_book_font-webfont.woff2') format('woff2'),
         url('futura_book_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'futuraheavy';
    src: url('futura_heavy_font-webfont.woff2') format('woff2'),
         url('futura_heavy_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'futuraextra_black';
    src: url('futura_extra_black_font-webfont.woff2') format('woff2'),
         url('futura_extra_black_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'futuralight';
    src: url('futura_light_bt-webfont.woff2') format('woff2'),
         url('futura_light_bt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html, body
{
    font-family: 'futuraextra_black', sans-serif;
    font-size: 42pt;
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
}

.intro {
    height: 100%;
    width: 100%;
    margin: auto;
    background-image: url("../media/lisboa.gif");
    background-repeat: repeat;
    background-color: black;
    display: table;
    top:0;
    background-size: cover;
}

.intro .inner {
    display: table-cell;
    vertical-align: bottom;
    width: 100%;
    max-width: none;
}

.content {
    max-width: 1000px;
    margin:0 auto;
    text-align: center;
}

.content h1 {
    font-size: 50px;
    color: #dcdcdc;
    margin-bottom: -45px;
    text-align: center;
    letter-spacing: 5px;
}

.content a{
    font-family: 'futuralight', sans-serif;
    font-size: 18px;
    max-width: 500px;
    text-align: center;
    text-decoration: dotted;
    color:#dcdcdc;
    margin:-5px;
}

.content a:hover{
    color: black;
    background-color: #dcdcdc;
}

@media screen and (max-width: 736px) {

    .content h1 {
        font-size: 30px;
        color: #dcdcdc;
        text-align: center;
        letter-spacing: 5px;
        margin-bottom: 15px;
    }

    .content a{
        display: list-item;
        font-family: 'futuralight', sans-serif;
        font-size: 20;
        text-align: center;
        text-decoration: dotted;
        color:#dcdcdc;
        margin-bottom: 20px;
    }

}
