html {
    background-color: black;
}

html, body
{
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 12pt;
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
}

#personal {

}

#personal p{
    color: white;
}

#personal h1{
    color: white;
    font-style: italic;
    font-size: 12pt;
}


.designlink {
    color: aquamarine;
    text-decoration: none;

}